body{
	background:#D7E8F5;
}
.footer-box{
	position:fixed;
	bottom:0;
	left:50%;
	margin-left:-50%;
}

.footer-box img{
	width: 100%;
}

#time{
	width: 410px;
	height: 78px;
	line-height: 80px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	position:absolute;
	right: 10px;
	top: 10px;
	font-size: 60px;
	padding-top: 2px;
}
.col-xs-12{
	padding-right: 0;
	padding-left: 0;
}