@charset "utf-8";
.title{
    width: 16rem;
    height: 2.15rem;
    background: url(../images/title_bg.jpg) center top no-repeat;
    background-size: 100% 100%;
    font: .85rem/2.15rem 'Microsoft YaHei';
    color: #fff;
  text-align: center;
    border-bottom: 0.05rem solid #00a1ec;
}
.xmlb{
    overflow: hidden;
    width: 16rem;
    margin: 0 auto;
}
.xmlb dl{
    width: 4rem;
    float: left;
    margin-top: .75rem;
}
.xmlb dt img{
    width: 2.15rem;
    height: 2.4rem;
    margin: 0 auto;
}
.xmlb dt {
    width: 2.15rem;
    height: 2.4rem;
    margin: 0 auto;
}
.xmlb dd {
    overflow: hidden;
    width: 4.2rem;
    height: 1rem;
    padding-right: .5rem;
    margin: .75rem auto 0 auto;
    background: url(../images/xm05.png) center top no-repeat;
    background-size: 100% 100%;
    font: .6rem/1rem 'Microsoft YaHei';
    color: #00a1ec;
    text-align: center;
}
.xmlb .xmlb_dl dd{
    overflow: hidden;
    width: 3.6rem;
    height: 1rem;
    padding-right: .5rem;
    margin: .75rem auto 0 auto;
    background: url(../images/xm06.png) center top no-repeat;
    background-size: 100% 100%;
    font: .6rem/1rem 'Microsoft YaHei';
    color: #f99e1f;
   text-align: center;
}
.public_title_jiang{ position: relative; overflow: hidden; width: 16rem; height:2.15rem; background: url(../images/title_bg.jpg) center top no-repeat; background-size: 100% 100%; text-align: center;}
.public_title_jiang a{ position: absolute; left: .75rem; top: .65rem;  float: left; display: block;
    width: 2.8rem;
    height: .9rem;
    background: url(../images/icon02.png) left top no-repeat;
    background-size: .5rem .9rem;
    font: .85rem/.9rem 'Microsoft YaHei'; color: #fff;
    text-indent: .8rem;
}
.public_title_jiang img{
    float: left;
    width: 1.1rem;
    height: 1.1rem;
    margin: .525rem .45rem 0 1.6rem;
}
.public_title_jiang span{
    overflow: hidden;
    float: left;
    display: block;
    width: 6.6rem;
    height: 2.15rem;
    font: .85rem/2.15rem 'Microsoft YaHei'; color: #fff;
    text-align: left;
}
.public_title_jiang .public_title_span{
    margin-left: .75rem;
}
.public_title_jiang p{
    overflow: hidden;
    float: right;
    height: .8rem;
    margin-top: 1.35rem;
    margin-right: .75rem;
    font: .45rem/.8rem 'Microsoft YaHei'; color: #fff;
    text-align: left;
}

.jiangpai{
    overflow: hidden;
    width: 16rem;
    margin: 0 auto;
}
.jiangpai dl{
    margin-top: .55rem;
    padding-bottom: .2rem;
    border-top: 0.05rem solid #00a1ec;
    border-bottom: 0.05rem solid #00a1ec;
    background: #fff;
}
.jiangpai dt{
    width: 100%;
    height: 1.7rem;
}
.jiangpai dt img{
    float: left;
    width: 1rem;
    height: 1.1rem;
    margin: .3rem .65rem 0 .7rem;
}
.jiangpai dt span{
    display: block;
    overflow: hidden;
    float: left;
    width: 11.8rem;
    height: 1.7rem;
    font: .75rem/1.7rem 'Microsoft YaHei'; color: #00a1ec;
    text-align: left;
}
.jiangpaiWR{
    display: block;
    overflow: hidden;
    float: left;
    width: 1.1rem;
    height: .55rem;
    background: #f26d1d;
    margin-top: .45rem;
    text-align: center;
    border-radius: .2rem;
    font: .4rem/.55rem 'Microsoft YaHei'; color: #fff;
}
.jiangpai li{
    overflow: hidden;
    width: 13.6rem;
    margin: 0 auto;
    height: 2.3rem;
    border-bottom: 1px solid #cacaca;
}
.jiangpai .jiangpai_border{
    border-bottom:none;
}
.jiangpai li img{
    float: left;
    width: .75rem;
    height: 1.1rem;
    margin: .65rem .9rem 0 .25rem;
}
.jiangpai li p:nth-child(2){
    float: left;
    width: 7.1rem;
    font: .6rem/1.15rem 'Microsoft YaHei'; color: #333;
}
.jiangpai li p em{
    clear: both;
    float: left;
    display: block;
    width: .75rem;
    font: .6rem/1.15rem 'Microsoft YaHei'; color: #333;
}
.jiangpai li p span{
    display: block;
    float: left;
    width: 7.35rem;
    font: .6rem/1.15rem 'Microsoft YaHei'; color: #333;
}
.jiangpai li p:nth-child(3){
    float: left;
    width: 3.5rem;
    font: .6rem/1.15rem 'Microsoft YaHei'; color: #333;
}
/*************国家排行榜************/
.country_title{
    overflow: hidden;
    width: 16rem;
    margin: 0 auto;
}
.country_title span{
    float: left;
    display: block;
    font: .7rem/1.5rem 'Microsoft YaHei'; color: #00a1ec;
}
.country_title img{
    float: left;
    display: block;
    width: .88rem;
    height: 1rem;
    margin-top: .2rem;
    font: .7rem/1.5rem 'Microsoft YaHei'; color: #00a1ec;
}
.country_title span:nth-child(1){
   margin: 0 2.1rem 0 .75rem;
}
.country_title span:nth-child(2){
    margin: 0 1.95rem 0 0;
}
.country_title img:nth-child(3) {
    margin: .2rem 1.6rem 0 0;
}
.country_title img:nth-child(4) {
    margin: .2rem 1.5rem 0 0;
}
.country_title img:nth-child(5) {
    margin: .2rem .9rem 0 0;
}
.country_title span:last-child{
    font: .6rem/1.5rem 'Microsoft YaHei'; color: #00a1ec;
}

.country_rank{
    overflow: hidden;
    width: 16rem;
    margin: 0 auto;
}



/****************2016.06.21修改*********************/
.country_left{
    float: left;
    width: 1.1rem;
    margin-left: .55rem;
    padding-top: .95rem;
}
.country_right .country_left_hover span{
    display: block;
    width: 1.1rem;
    height: 1.1rem;
    box-sizing: border-box;
    border-radius: 50%;
    font: .75rem/1.1rem 'Microsoft YaHei'; color: #333;
    text-align: center;
    border: none;
    background: #b6dfff;
    margin-top: 0;

}
.country_left_hover p{
    width: .2rem;
    height: 1.3rem;
    background: #b6dfff;
    margin: 0 auto;
}
.country_right{
    float: left;
    width: 15.45rem;
    margin-left: .55rem;
    padding-top: .5rem;
}
.country_right dl{
	float:left;
	width:100%;
	height:2.4rem;
	}
.country_right dt{ float:left;
    width: 1.1rem;
    height: 1.1rem;
    margin-top: .45rem;
}
.country_right dt span{
    display: block;
    width: 1.1rem;
    height: 1.1rem;
    box-sizing: border-box;
    border: 1px solid #cacaca;
    border-radius: 50%;
    font: .6rem/1.1rem 'Microsoft YaHei'; color: #333;
    text-align: center;
	}
.country_right dd{
	float:left;
	margin-left:.25rem;
    width: 13.4rem;
    height: 2.15rem;
    background: url(../images/country_bg02.png) left top no-repeat;
    background-size: 100% 100%;
    margin-bottom: .25rem;
}
.country_right .country_right_hover{
    width: 13.4rem;
    height: 2.15rem;
    background: url(../images/country_bg.png) left top no-repeat;
    background-size: 100% 100%;
    margin-bottom: .25rem;
}
.country_right .country_right_hover span:nth-child(6){
    font: .75rem/2.15rem 'Microsoft YaHei'; color: #ef773a;
}

.country_right dd img{
    float: left;
    width: .9rem;
    height: .9rem;
    margin: .625rem .3rem 0 .6rem;
}
.country_right dd span{
    display: block;
    float: left;
}
.country_right dd span:nth-child(2){
    overflow: hidden;
    width: 3.7rem;
    height: 2.15rem;
    font: .5rem/2.15rem 'Microsoft YaHei'; color: #333;
}
.country_right dd span:nth-child(3){
    width: 1.3rem;
    font: .75rem/2.15rem 'Microsoft YaHei'; color: #333;
    text-align: center;
}
.country_right dd span:nth-child(4){
    width: 1.4rem;
    font: .75rem/2.15rem 'Microsoft YaHei'; color: #333;
    text-align: center;
    margin-left: .9rem;
}
.country_right dd span:nth-child(5){
    width: 1.4rem;
    font: .75rem/2.15rem 'Microsoft YaHei'; color: #333;
    margin-left: 1.1rem;
}
.country_right dd span:nth-child(6){
    width: 1.4rem;
    font: .75rem/2.15rem 'Microsoft YaHei'; color: #00a1ec;
    text-align: left;
    margin-left: .3rem;
}